@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent;
  --background: transparent;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --background: transparent;
    --foreground: #ededed;
  }
}

html,
body,
#root {
  background: transparent !important;
html,
body,
#root {
  background: transparent !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
